.board {
  display: flex;
  flex-direction: column;
}

.board-line {
  display: flex;
  flex-direction: row;
}

.square {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  font-size: 60px;
  border: 1px solid #000;
}